%scrollNull {
  ::-webkit-scrollbar {
    width: 0;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

%scrollbar {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
    background: rgba(237, 202, 255, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background: #c8b5da;
    border-radius: 100px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #9b91a3;
  }

  &::-webkit-resizer {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
