$color-bg-primary: #fcfcf9;

$color-brand: #1a3320;

$color-font-primary: #6b6b6b;
$color-font-secondary: #ffffff;
$color-font-tertiary: #1a1a1a;

$color-disabled: #adadad;
$color-light: #ffffff;
$color-dark: #181d27;
$color-border: #e0e0e0;
$color-alert: #ef4444;

$color-secondary: #a8b89a;
$color-accent: #d4e4d5;
$color-tertiary: #717680;
$color-quaternary: #414651;

$color-layer-primary: rgba(5, 5, 18, 0.8);
