.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 42px;
  height: 46px;
  flex-shrink: 0;
}

.text {
  color: $color-brand;
  font-size: 32px;
  font-weight: $font-weight-semibold;
  line-height: 1;
}
