.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  @include media-down($breakpoint-m) {
    gap: 4px;
  }
}

.icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;

  @include media-down($breakpoint-m) {
    width: 35px;
    height: 35px;
  }
}

.text {
  color: $color-brand;
  font-size: 32px;
  font-weight: $font-weight-semibold;
  line-height: 1;

  @include media-down($breakpoint-m) {
    font-size: 24px;
  }
}
