.progress {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

.dots {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $color-accent;
}

.active {
  background-color: $color-brand;
}

.counter {
  color: $color-brand;
  font-size: 18px;
  font-weight: $font-weight-semibold;
}
