.progress {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

.dots {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $color-accent;

  @include media-down($breakpoint-m) {
    width: 12px;
    height: 12px;
  }
}

.active {
  background-color: $color-brand;
}

.counter {
  color: $color-brand;
  font-size: 18px;
  font-weight: $font-weight-semibold;

  @include media-down($breakpoint-m) {
    font-size: 12px;
  }
}
