.page {
  width: 100%;
  padding: 33px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 130px;
}

.content {
  display: grid;
  grid-template-columns: minmax(320px, 1fr) minmax(240px, 600px);
  gap: 24px;
  align-items: center;
}

.content_inner {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  max-width: 600px;
  color: $color-brand;
  font-size: 72px;
  font-weight: $font-weight-bold;
  line-height: 1.1;
  margin-bottom: 16px;
}

.description {
  max-width: 496px;
  font-size: 20px;
  margin-bottom: 32px;
}

.actions {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 64px;
}

.progress_wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.illustration {
  justify-self: center;
  width: min(100%, 600px);
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
